.cars
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    min-height calc(100vh - 380px)
    margin 16px 0
    display flex
    flex-wrap wrap
    justify-content space-around

    