// Error animation
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.animated {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.app
  color #2DA0A6
  height auto

  &__field-name
    font-size 1.75rem
    margin 0 0 20px 0

  .dropdown-toggle
    font-size 1.5rem
    width 200px
    height 50px
    background-color #E5E5E5
    border-color transparent
    color #2DA0A6
    position relative

    &:after
      border-top: .8rem solid
      border-right: .8rem solid transparent
      border-bottom: 0;
      border-left: .8rem solid transparent
      position absolute
      maring 0 !important
      top 20px
      right 10px
      padding 0 !important
  
  .dropdown-menu
    width 200px
    
  .form-group
    margin-right 100px
    font-size 1.75rem

  .form-control
    background-color #E5E5E5
    border-color transparent
    width 300px
    height 50px
    font-size 1.5rem

    &::-webkit-input-placeholder
      font-size 1.5rem
      color #9A9B9B

    &:-moz-placeholder
      font-size 1.5rem
      color #9A9B9B

.rc-time-picker-input
  border 0
  background-color transparent
  width 200px
  height 44px
  font-size 1.5rem
  text-align right
  padding-right 1.5rem
  color #2DA0A6
  border none
  box-sizing border-box

  @media (max-width 990px)
    width 100%

.rc-time-picker-panel-narrow
  max-width 200px
  width 200px

.rc-time-picker-panel-select
  width 50%
  font-size 1.25em
  overflow-x hidden

.rc-time-picker-panel-inner
  width 200px

.rc-time-picker-panel-input-wrap
  height 50px

.rc-time-picker-panel-input
  font-size 1.5rem
  text-align right
  color #2DA0A6
  padding-right 15px
  
.application

  &__step-one
    width 100%
    background-color #fff
    margin 30px auto
    padding 30px
    display grid 
    grid-template-columns 1.5fr 1.5fr 0.6fr
    grid-template-rows 1fr 1fr 1fr
    grid-auto-flow column
    align-items center
    font-size 1.5rem
    @media (max-width: 990px)
      display flex
      flex-wrap wrap
      padding 15px
    @media (max-width: 490px)
      padding 5px

    .dropdown-toggle
      padding 0 40px 0 0
      text-align right

    .application
    
      &__block--start-date
        @media (max-width 990px)
          order -5

      &__block--start-time
        @media (max-width 990px)
          order -4

      &__block--end-date
        @media (max-width 990px)
          order -3

      &__block--model
        @media (max-width 990px)
          order 1
    
      &__block--price
        margin 10px 0 10px 0

        .application__field-name
          margin-bottom 0

        @media (max-width 990px)
          order 2

      &__subtitle
        font-size 1rem
        font-style italic

      &__mobile-date-input
        width 70%
        background #E5E5E5
        border 0
        padding 0 5px
        color #2DA0A6
        text-align right

        @media (max-width 460px)
          width 60%
    
        @media (max-width 370px)
          width 55%

  &__btn-next
    grid-row-start 3
    margin 70px 0 0 -60px

    @media (max-width 990px)
      order 3

    @media (max-width 990px)
      margin 30px 0 0 0

  &__block
    margin 32px 0 0 0
    @media (max-width: 990px)
      width 100%

  &__input
    display flex

    .application__icon--clock
      margin-right 15px

    @media (max-width: 990px)
      width 100%

    .dropdown-toggle
      overflow-x hidden
      @media (max-width: 990px)
        width 100%

    .dropdown-menu
      width 400px

    &--date
      .dropdown-menu
        width 100px
        border none
      .dropdown-item
        padding 0
  
  .dropdown
    @media (max-width: 990px)
      width 70%

    @media (max-width 460px)
      width 60%
    
    @media (max-width 370px)
      width 55%

  &__field
    height 50px
    border-radius 5px
    box-sizing border-box
    background-color #E5E5E5

    @media (max-width 990px)
      width 70%
    
    @media (max-width 460px)
      width 60%
    
    @media (max-width 370px)
      width 55%

    .rc-time-picker-panel-select
      width 100px !important

  &__icon
    margin-right 10px

  &__price
    font-size 2.25rem

  .bounce
    animation-name bounce
    transform-origin center bottom

  &__error
    color #F60C0C
    border-radius 50%
    border 3px solid #F60C0C
    width 50px
    height 50px
    text-align center
    font-size 30px
    font-weight 700
    margin 0 0 0 20px
    animation-name: bounce;
    transform-origin: center bottom;

  &__invalid
    border 3px solid #F60C0C !important
    animation-name: bounce;
    transform-origin: center bottom

  &__brand-name
    font-size 1rem !important

  &__brand-items
    white-space nowrap
    overflow hidden
    cursor pointer
