.car
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    background-color white
    padding 12px 34px
    margin 26px 0
    @media (max-width: 990px)
      padding 12px
    @media (max-width: 490px)
      padding 3px

  &__image
    width 440px
    height 293px
    object-fit cover
    margin 0 10px 10px 0
    @media (max-width: 990px)
      width 100%
      height 350px
    @media (max-width: 490px)
      height 250px

  &__block
    display flex
    @media (max-width 990px)
      flex-wrap wrap
  
  &__info
    display grid 
    grid-template-columns 1.4fr 1fr
    @media (max-width 990px)
      display flex
      flex-direction column

  &__subtitle
    @media (max-width 990px)
      margin 15px 0 5px 0
      font-size 1.5rem
    
  &__row
    display flex
    justify-content space-between
    font-size 0.75rem
    width 60%
    @media (max-width 900px)
      font-size 1rem
    @media (max-width 490px)
      width 100%

  &__button 
    width 175px !important
    font-size 1.375rem !important
    line-height inherit !important
    @media (max-width: 900px)
      height 42px !important
      margin-right 5px

    @media (max-width: 600px)
      font-size 1.25rem !important
      height 36px !important
    
    @media (max-width: 390px)
      width 140px !important

  &__buttons
    display flex
    justify-content space-around
    margin 10px 0 0 0
    align-self end