.not-found
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    background-color white
    padding 12px 34px
    margin 26px 0
    min-height calc(100vh - 380px)
    @media (max-width 990px)
      padding 12px
    @media (max-width 490px)
      padding 12px 3px

  h3 
    margin-bottom 20px

  &__link
    text-decoration none
    color #2DA0A6

    &:hover
      text-decoration none
      color #2DA0A6
      opacity 0.8
    