.about
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    background-color white
    padding 12px 34px
    margin 26px 0
    min-height calc(100vh - 380px)
    @media (max-width 990px)
      padding 12px
    @media (max-width 490px)
      padding 12px 3px

  &__address
    margin-top 50px

    p 
      color #2DA0A6
      margin-bottom 0

    a 
      color #2DA0A6
      &:hover 
        opacity 0.8
        text-decoration none
    