.main-page
  color #2DA0A6

  .car-info
    background-color #fff
    margin 30px 0
    padding 30px
    display grid 
    grid-template-columns 50% 50%
  
  .details
    background-color #fff
    margin 30px 0
    padding 30px

  .personal-info
    background-color #fff
    margin 30px 0
    padding 30px

  .car-info__block
    margin 32px 0 0 0
    h4
      font-size 1.75rem
      margin 0 0 20px 0

  .car-info__input
    display flex

  .car-info__icon
    margin-right 10px

  .dropdown-toggle
    width 200px
    height 50px
    background-color #E5E5E5
    border-color transparent

  .dropdown-toggle:after
    border-top: .8em solid;
    border-right: .8em solid transparent;
    border-bottom: 0;
    border-left: .8em solid transparent;
    margin 10px 0 0 150px
    