.main-page
  color #2DA0A6

  .car-info
    background-color #fff
    margin 30px 0
    padding 30px
  
  .details
    background-color #fff
    margin 30px 0
    padding 30px

  .personal-info
    background-color #fff
    margin 30px 0
    padding 30px