.application
  box-sizing border-box

  &__step-three
    width 100%
    display grid 
    grid-template-columns 3fr 1fr
    grid-template-rows 0.8fr 1fr 1fr 1fr 1fr 0.8fr 1fr 1fr 1fr 1.8fr
    grid-auto-flow column
    grid-gap 5px 30px
    align-items center
    background-color #fff
    margin 30px auto
    padding 30px
    align-items center
    font-size 1.5rem
    box-sizing border-box

    .form-control
      width 100%

    .dropdown-toggle:after
      display none

  &__wrapper
    display flex
    justify-content space-between

  &__btn-back
    margin 50px 0 0 0

  &__subttl
    margin 10px 0 0 0
    font-size 1.75rem

  &__btn-submit--step-three
    margin 45px 0 0 0

  &__input--date
    .dropdown-item
      padding 0

  .g-recaptcha
    width 200px
