.application
  box-sizing border-box

  &__step-three
    width 100%
    display grid 
    grid-template-columns 3fr 1fr
    grid-template-rows 0.8fr 1fr 1fr 1fr 1fr 0.8fr 1fr 1fr 1fr 1.8fr
    grid-auto-flow column
    grid-gap 5px 30px
    align-items center
    background-color #fff
    margin 30px auto
    padding 30px
    align-items center
    font-size 1.5rem
    box-sizing border-box

    @media (max-width: 1000px)
      display flex
      flex-wrap wrap

    @media (max-width 500px)
      padding 20px 3px

    .form-control
      width 100%

    .dropdown-toggle:after
      display none

    .dropdown-menu
      left -200px !important

    .application
      &__title
        h4 
          margin 0

      &__note
        font-size 0.875rem
        font-style italic
        margin -5px 0 0 0

      &__order_-5
        @media (max-width 1000px)
          order -5
          margin-bottom 10px

      &__order_-4
        @media (max-width 1000px)
          margin-bottom 10px
          order -4
          width 50%
        @media (max-width 460px)
          width 100%

      &__order_0
        @media (max-width 1000px)
          order 0
          margin-bottom 10px

      &__order_1
        @media (max-width 1000px)
          margin-bottom 10px
          order 1
          width 50%
        @media (max-width 460px)
          width 100%

      &__order_2
        @media (max-width 1000px)
          order 2
          margin-bottom 10px

      &__order_3
        @media (max-width 1000px)
          order 3
          max-width 50%

      &__input 
        &--date
          .dropdown-toggle
            @media (max-width 800px)
              font-size 1.25rem
          
      &__mobile-date-input
        width 100%
        background #E5E5E5
        border 0
        padding 0 5px
        color #2DA0A6
        text-align right

      &__icon
        @media (max-width 990px)
          margin-left 10px
        @media (max-width 460px)
          margin-left 0
      
    .dropdown 
      @media (max-width: 990px)
        width 100%

  &__wrapper
    display flex
    justify-content flex-end

  &__btn-back
    margin 50px 0 0 0
    @media (max-width 1000px)
      margin 0 10px 0 0

  &__subttl
    margin 10px 0 0 0
    font-size 1.75rem

  &__btn-submit--step-three
    align-self end

  &__input--date
    .dropdown-item
      padding 0
