.description
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    width 100%
    background-color white
    padding 12px 34px
    margin 26px auto
    min-height calc(100vh - 380px)
    