.header
  background-color #2DA0A6

  &__dropdown
    width 400px
    margin -4px 0 0 0
    
    @media (max-width: 1000px)
      width 200px

    @media (max-width: 600px)
      width 120px

    .btn
      width 400px
      text-align right
      
      @media (max-width: 1000px)
        width 200px
      
      @media (max-width: 600px)
        width 100px
    
    .dropdown-item
      &:active
        background-color transparent !important
        box-shadow none

    .dropdown-toggle
      background-color transparent !important

      &:focus
        background-color transparent
        box-shadow none !important

      &:active
        background-color transparent
        box-shadow none
        border none

      &:hover
        background-color transparent
        box-shadow none
        color white

      &:not(:disabled):not(.disabled).active:focus
        box-shadow none
        background-color transparent

      &:not(:disabled):not(.disabled):active
        background-color transparent
        box-shadow none
        border none

    .dropdown-menu
      margin 20px 0 0 20px
      background-color #F8F8F8
      @media (max-width: 800px)
        right 10px
        left auto !important
    a
      color #2DA0A6
      font-size 1.75rem

  .container
    display flex
    justify-content space-between
    padding 20px

    @media (min-width: 1200px)
      max-width 1400px

  &__nav
    width 100%
    display flex
    justify-content space-between
    margin 0 200px 0 0
    @media (max-width: 1200px)
      margin 0
    
  &__logo
    @media (max-width: 800px)
      width 150px

  .nav-menu
    display flex
    li 
      float left 
      display block
      margin-left 50px
      a 
        color #BEFCFF
        font-weight 700
        font-size 1.75rem

  .dropdown-toggle
    font-weight 700
    
  &__contacts
    @media (max-width: 800px)
      display none !important
