.footer
  background-color #2DA0A6
  padding 20px

  .container
    color white
    font-size 1.5rem
    display grid
    grid-template-columns 40% 40%
  
  .address
    display block
    margin 0 50px

  .schedule
    margin 0 50px
    time
      display block

