.footer
  background-color #2DA0A6
  padding 20px

  .container
    color white
    font-size 1.5rem
    display grid
    grid-template-columns 1fr 1fr 1fr
    max-width 1400px

  &__nav
    li
      display block
      a
        color white
  
  &__address
    display block
    p 
      margin 0
      color white

  &__schedule
    margin 0 50px
    time
      display block
    p 
      color white

