.footer
  background-color #2DA0A6
  padding 20px

  .container
    color white
    font-size 1.5rem
    @media (max-width: 1400px)
      font-size 1rem
      @media (max-width: 800px)
        font-size 1.5rem
    display grid
    grid-template-columns 1fr 1fr 1fr
    @media (max-width: 800px)
      grid-template-columns 1fr
    max-width 1400px

  &__nav
    margin 20px 0
    li
      display block
      a
        color white
        &:hover
          text-decoration none
          color #BEFCFF
  
  &__address
    margin 20px 0
    display block
    p 
      margin 0
      color white
      @media (max-width: 1400px)
        font-size 1rem
      @media (max-width: 800px)
        font-size 1.5rem

    a 
      color white 
      &:hover 
        color #BEFCFF
        text-decoration none

  &__schedule
    margin 20px 0
    time
      display block
    p 
      color white
      @media (max-width: 1400px)
        font-size 1rem
      @media (max-width: 800px)
        font-size 1.5rem

