.application

  &__step-two
    width 100%
    display grid
    grid-template-columns 1.6fr 1.6fr 0.4fr
    grid-template-rows 1fr 1fr 1fr 1.2fr
    grid-auto-flow column
    align-items center
    background-color #fff
    margin 30px auto
    padding 30px
    align-items center
    font-size 1.5rem

    @media (max-width 1000px)
      display flex
      flex-wrap wrap

    @media (max-width 500px)
      padding 30px 5px

    .form-group
      margin 0

      @media (max-width 1000px)
        width 100%
        margin-top 20px

      label 
        margin 0
    
    .form-control 
      @media (max-width 1000px)
        width 80%
      @media (max-width 450px)
        width 75%

    .dropdown-toggle
      width 300px
      font-size 1.5rem
      height 50px
      background-color #E5E5E5
      border-color transparent
      padding 0 0 14px 14px
      color #2DA0A6
      position relative
      padding 0 !important

      &:after
        border-top: .8rem solid
        border-right: .8rem solid transparent
        border-bottom: 0;
        border-left: .8rem solid transparent
        position absolute
        maring 0 !important
        top 20px
        right 10px
        padding 0 !important

    .dropdown-menu
      width 300px !important

    .application

      &__block
        margin 0
      
        @media (max-width 1000px)
          width 80%
          margin-top 20px
          order 1
        
        @media (max-width 450px)
          width 75%

      &__add-services
        @media (max-width 1000px)
          width 100% !important

  &__btn-next--step-two
    grid-row-start 4
    align-self end
    margin 0 0 0 -140px
    @media (max-width 1000px)
      order 3

    @media (max-width 1000px)
      margin 20px 0 0 0
      align-self flex-end

  &__checkbox-group
    margin 40px 0 0 0
    display flex

    @media (max-width 1000px)
      order 2
    
    @media (max-width 1000px)
      width 100%

    input 
      width 25px
      height 25px
      border none
      outline none
      background-color #E5E5E5
      padding 0
      margin 0 50px 0 0

    label 
      font-size 1rem
      padding 0 0 0 50px
      width 300px
      
      @media (max-width 1000px)
        width 80%

      @media (max-width 450px)
        width 75%

  &__input-group
    display flex

  &__field-name
    font-size 1.75rem

  &__multi-select
    
    &__control
      width 300px
      height 50px
      background-color #E5E5E5 !important
      border none !important
      align-items flex-start !important

      @media (max-width 1000px)
        display flex
        flex-direction column
        width 100%
        min-height 50px !important
        height auto

      &:hover 
        border-color #2DA0A6 !important
        box-shadow 0 0 0 1px #2DA0A6 !important
      
      &--is-focused
        border-color #2DA0A6 !important
        box-shadow 0 0 0 1px #2DA0A6 !important
      
      &:hover
        border-color #2DA0A6 !important
        box-shadow 0 0 0 1px #2DA0A6 !important

    &__value-container
      font-size 1rem
      left 300px
      min-width 350px !important
      flex-direction row
      @media (max-width 1000px)
        left 0
        width 90%
        min-width 200px !important
      
      @media (max-width 500px)
        width 80%

      @media (max-width 400px)
        width 70%

    &__multi-value
      @media (max-width 1000px)
        margin 0 !important
        font-size 1rem

      &__label
        padding 0px 3px

        @media (max-width 1000px)
          padding 0px 3px !important
      

    &__placeholder
      display none

    &__input
      display none

    &__indicators
      background-color transparent
      position absolute
      right 10px
      top 0
      bottom 0

      @media (max-width 500px)
        right 5px

    &__clear-indicator 
      @media (max-width 500px)
        padding 1px !important

    &__dropdown-indicator 
      @media (max-width 500px)
        padding 1px !important


    &__indicator-separator
      display none

    &__menu
      font-size 1rem
      width 300px !important
