*
  margin 0
  padding 0

html,
body
  font-family "Roboto", sans-serif
  min-height 100vh
  background-color rgba(190, 252, 255, 0.5) !important
  font-size 16px
  @media (max-width: 900px)
    font-size 14px
  
  @media (max-width: 600px)
    font-size 12px
  
  @media (max-width: 400px)
    font-size 10px
    
  color #9A9B9B

#root
  min-height 100vh
  display flex
  flex-direction column

.content
  flex: 1 0 auto

main
  height 100%

h1
  font-size 2.25rem
  font-weight 400
  color #2DA0A6 !important
  text-decoration underline

h2
  font-size 2.25rem
  font-weight 400
  color #2DA0A6 !important
  text-decoration underline

h3
  font-size 1.75rem
  font-weight 400
  color #2DA0A6 !important

p
  font-size 1.5rem 
  font-weight 400
  color #9A9B9B

.btn.btn-primary
  background-color #E5E5E5
  color #2DA0A6
  width 250px
  height 50px
  border-radius 5px
  font-size 1.75rem
  line-height 1.75rem
  border none

  &:hover 
    background-color #2DA0A6
    color #E5E5E5

.btn.btn-secondary
  background-color #2DA0A6
  color #BEFCFF
  width 250px
  height 50px
  border-radius 5px
  font-size 1.75rem
  line-height 1.75rem
  border none

  &:hover 
    background-color #E5E5E5
    color #2DA0A6
  
