*
  margin 0
  padding 0

html,
body
  font-family "Roboto", sans-serif
  min-height 100vh
  background-color rgba(190, 252, 255, 0.5) !important
  font-size 16px

#root
  min-height 100vh
  display flex
  flex-direction column

.content
  flex: 1 0 auto

main
  height 100%

.btn-primary
  background-color #E5E5E5
  color #2DA0A6
  width 250px
  height 50px
  border-radius 5px
  font-size 1.75rem
  line-height 1.75rem
  border none

  &:hover 
    background-color #2DA0A6
    color #E5E5E5

.btn-secondary
  background-color #2DA0A6
  color #BEFCFF
  width 250px
  height 50px
  border-radius 5px
  font-size 1.75rem
  line-height 1.75rem
  border none

  &:hover 
    background-color #E5E5E5
    color #2DA0A6
  
