@import '~rc-time-picker/assets/index.css';

.rc-time-picker-input
  border 0
  background-color transparent
  width 200px
  height 44px
  font-size 1.5rem
  text-align right
  padding-right 1.5rem
  color #2DA0A6
  border none
  box-sizing border-box

  @media (max-width 990px)
    width 100%

.rc-time-picker-panel-narrow
  max-width 200px
  width 200px

.rc-time-picker-panel-select
  width 50%
  font-size 1.25em
  overflow-x hidden

.rc-time-picker-panel-inner
  width 200px

.rc-time-picker-panel-input-wrap
  height 50px

.rc-time-picker-panel-input
  font-size 1.5rem
  text-align right
  color #2DA0A6
  padding-right 15px