.main-page
  color #2DA0A6

  h4
    font-size 1.75rem
    margin 0 0 20px 0

  .dropdown-toggle
    font-size 1.5rem
    width 200px
    height 50px
    background-color #E5E5E5
    border-color transparent
    padding 0 0 14px 14px

  .dropdown-toggle:after
    border-top: .8rem solid;
    border-right: .8rem solid transparent;
    border-bottom: 0;
    border-left: .8rem solid transparent;
    margin 18px 0 0 150px
  
  .dropdown-menu
    width 200px
    
  .form-group
    margin-right 100px
    font-size 1.75rem

  .form-control
    background-color #E5E5E5
    border-color transparent
    width 300px
    height 50px
    font-size 1.5rem

    &::-webkit-input-placeholder
      font-size 1.5rem
      color #9A9B9B

    &:-moz-placeholder
      font-size 1.5rem
      color #9A9B9B
  
  .application

    &__info
      background-color #fff
      margin 30px 0
      padding 30px
      display grid 
      grid-template-columns 50% 50%

    &__personal-info
      background-color #fff
      margin 30px 0
      padding 30px

    &__personal-data
      display grid 
      grid-template-columns 50% 50%
  
    &__details
      background-color #fff
      margin 30px 0
      padding 30px

    &__additional
      display grid 
      grid-template-columns 50% 50%

    &__block
      margin 32px 0 0 0

    &__input
      display flex

    &__icon
      margin-right 10px

    &__documents
      display grid 
      grid-template-columns 34.5% 30%
      margin 0 0 20px 0

    &__submit
      margin 0 0 30px 0
      font-size 1.75rem

    &__address-textarea
      width 663px
      height 123px

    &__comment-textarea
      width 536px
      height 123px
