.contacts
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    background-color white
    padding 12px 34px
    margin 26px 0
    min-height calc(100vh - 380px)

  &__address
    margin 20px 0 20px 0
    p
      color #2DA0A6
      margin 0

  &__phone-input
    background-color #E5E5E5
    width 300px
    margin 50px 0 20px 0
    height 50px
    font-size 1.75rem
    
    &::-webkit-input-placeholder 
      color #9A9B9B
      font-size 1.75rem
    &::-moz-placeholder
      color #9A9B9B
      font-size 1.75rem
    &:-ms-input-placeholder
      color #9A9B9B
      font-size 1.75rem
    &:-moz-placeholder
      color #9A9B9B
      font-size 1.75rem