.contacts
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    background-color white
    padding 12px 34px
    margin 26px auto
    min-height calc(100vh - 380px)
    @media (max-width 990px)
      padding 12px
    @media (max-width 490px)
      padding 12px 3px

  &__map
    width 100%
    height 450px
    @media (max-width 768px)
      height 350px

  &__address
    margin 20px 0 20px 0
    p
      color #2DA0A6
      margin 0

    a 
      color #2DA0A6 
      &:hover 
        opacity 0.8
        text-decoration none

  &__phone-input
    background-color #E5E5E5
    width 300px
    margin 50px 0 20px 0
    height 50px
    font-size 1.75rem
    
    &::-webkit-input-placeholder 
      color #9A9B9B
      font-size 1.75rem
    &::-moz-placeholder
      color #9A9B9B
      font-size 1.75rem
    &:-ms-input-placeholder
      color #9A9B9B
      font-size 1.75rem
    &:-moz-placeholder
      color #9A9B9B
      font-size 1.75rem
      