.rules
  min-height calc(100vh - 380px)

  .container
    min-height calc(100vh - 380px)

  &__wrapper
    background-color white
    padding 12px 34px
    margin 26px 0
    min-height calc(100vh - 380px)
    @media (max-width 990px)
      padding 12px
    @media (max-width 490px)
      padding 12px 3px

    ol
      li 
        font-size 1.5rem
        margin-left 30px

    h3 
      margin 30px 0 20px 0

    a 
      color #2DA0A6
      text-decoration none
      :hover
        text-decoration none
        opacity 0.8

/*
  ul 
    list-style none
    position relative
    li
      padding 0 0 0 30px
      &:before
        content '\00B7'
        color #2DA0A6
        font-size 100px
        position absolute
        top -64px
        left -6px
*/
        
